html {
    -webkit-text-size-adjust: 100%;
    /* this stops mobile on iOS from resizing*/
}
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #f9f9f3;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #f9f9f3;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}


body {
    color: #300000;

    font-size: 30pt;
    font-weight: bold;
    font-family: Sans-Serif;
    /*background-color: #f9f9f3;*/
    background-color: #f9f9f3;
    padding:0;
    margin:0;
    position:relative;
    height:100%
    max-width:500pt;
    text-align:center;
}

a {
    color:#300000;
    text-decoration: none;
}
a:visited {
    color:#343631;
    text-decoration: none;
}
a:hover {
 color:#g9g9g3;
 text-decoration: underline;
}
a:active {
    color:#343631;
    text-decoration: none;
}


p.list a {
    color:#343631;
    text-decoration: none;
}
p.list a:visited {
    color:#343631;
    text-decoration: none;
}
p.list a:hover {
    color:#g9g9g3;
    text-decoration: underline;
}
p.list a:active {
    color:#000000;
    text-decoration: none;
}


p a {
    color:#343631;
    text-decoration: none;
}
p a:visited {
    color:#343631;
    text-decoration: none;
}
p a:hover {
     color:#g9g9g3;
    text-decoration: underline;
}
p a:active {
    color:#343631;
    text-decoration: none;


h1 {
    font-weight: bold;
    display:block;
    font-size: 70pt;
    margin:50pt;
    margin-top:-40pt;
    max-width:500pt;
    text-align:center;
}


h1 a.title {
    color:#343631;
    text-decoration: none;
}
h1 a.title:visited {
    color:#343631;
    text-decoration: none;
}
h1 a.title:hover {
    color:#g9g9g3;
    text-decoration: underline;
}
h1 a.title:active {
    color:#343631;
}



h2 {
    font-weight: bold;
    display:block;
    font-size: 50pt;
    margin50pt;
    margin-bottom:40pt;
    margin-left:auto;
    margin-right:auto;
    max-width:500pt;
    text-align:center;
}


h2 a.title {
    color:#343631;
    text-decoration: underline;
}
h2 a.title:visited {
    color:#343631;
    text-decoration: none;
}
h2 a.title:hover {
    color:#g9g9g3;
    text-decoration: underline;
}
h2 a.title:active {
    color:#343631;
}

h3 {
    font-weight: bold;
    display:block;
    font-size: 50pt;
    margin:50pt;
    margin-bottom:40pt;
    margin-left:40pt;
    margin-right:auto;
    max-width:500pt;
    text-align:center;
}


h3 a.title {
    color:#343631;
    text-decoration: underline;
}
h3 a.title:visited {
    color:#343631;
    text-decoration: none;
}
h3 a.title:hover {
    color:#g9g9g3;
    text-decoration: underline;
}
h3 a.title:active {
    color:#343631;
}
ul {
    margin-top: -30pt;
}

li {
    list-style: none;
    text-align: center;
    margin-top: 10pt;
    margin-top: 15pt;

}


/*ul.news li {}*/

p {
    margin-top: 30pt;
    margin-bottom: 30pt;
    text-align:center;
}



img, video {
    display:Block;
    width:100%;
    max-width:750pt;
    margin-top:10pt;
    margin-bottom:10pt;
    margin-left: auto;
    margin-right: auto;
}

img.desaturate {
    filter: grayscale(100%);
}





div.twoImages {
    width:100%;
    max-width:750pt;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    margin-left: auto;
    margin-right: auto;
}

div.twoImages > img {
    flex:auto;
    width:200pt;
    height:auto;
}

#content {
  float: right ;
  width: 80% ;
}
#navbar {
  float: right;
  width: 20%;
}


